
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/partials.cshtml";
}

<section style="min-height: 82vh;">
    <div class="container text text-center">
        <h3>SENA</h3>
    </div>
</section>

